<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="post">
        <div class="post-title">
          <h1><%= @post.title %></h1>
        </div>
        <div class="post-text">
          <%= @post.text %>
        </div>
        <div class="post-comments">
          <%= link_to 'New comment', new_post_comment_path(@post), class: 'btn btn-primary' %>
          <% if @post.comments.any? %>
            <div class="post-comments-container">
              <% @post.comments.order(created_at: :DESC).each do |comment| %>
                  <%= render 'comments/comment', comment: comment %>
              <% end %>
            </div>
          <% else %>
            <div class="comment">
              <p>no comments yet !</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    App.cable.subscriptions.create(
      {
        channel: "PostChannel",
        post_id: <%= @post.id %>
      },
      {
        connected: function(data) {
          console.log("connected to post_<%= @post.id %>");
        },
        received: function(data) {
          $(".post-comments-container").prepend(data["comment"]);
          $(".comment").first().hide().slideDown();
        }
      }
    )
  </script>
<% end %>
